<h2 mat-dialog-title>Szczegóły pracownika</h2>
<section mat-dialog-content>
  <h3>{{data.name}}</h3>
  <mat-list>
    <div *ngIf="offer">
      <mat-list-item>
        OFERTA PRACY : {{offer.name}}
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
    <mat-list-item>
      PŁEĆ : {{(data.gender==='K') ? 'Kobieta' : 'Meżczyzna'}}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      WIEK : {{data.age}}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      ADRES MAILOWY : {{data.email}}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      NUMER TELEFONU : {{data.phone}}
    </mat-list-item>
    <mat-divider></mat-divider>
    <div *ngIf="!(data.qualification === '')">
      <mat-list-item>
        KWALIFIKACJE ZAWODOWE : {{data.qualification}}
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
    <div *ngIf="!(data.experience === '')">
      <mat-list-item>
        DOŚWIADCZENIE ZAWODOWE : {{data.experience}}
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
    <div *ngIf="!(data.comment === '')">
      <mat-list-item>
        UWAGI PRACOWNIKA DO OFERTY : {{data.comment}}
      </mat-list-item>
    </div>
  </mat-list>

  <button mat-button (click)="close()">WRÓĆ</button>

</section>
