<mat-card>
    <h2>Rejestracja</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input matInput placeholder="Imię" formControlName="firstName" />
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Nazwisko" formControlName="lastName" />
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Login" formControlName="username" />
    </mat-form-field>
    <mat-form-field>
        <input type="password" matInput placeholder="Hasło" formControlName="password" />
    </mat-form-field>
    <button mat-raised-button color="accent" [disabled]="!registerForm.valid">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        ZAREJESTRUJ
    </button>
    <button mat-button routerLink="/login">ZALOGUJ</button>
    </form>
</mat-card>
