  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nazwa pracy </th>
      <td mat-cell *matCellDef="let offer"> {{offer.name}} </td>
    </ng-container>
    <ng-container matColumnDef="salary">
      <th mat-header-cell *matHeaderCellDef> Wynagrodzenie </th>
      <td mat-cell *matCellDef="let offer"> {{offer.salary}} zł</td>
    </ng-container>
    <ng-container matColumnDef="timeFrame">
      <th mat-header-cell *matHeaderCellDef> Przedział czasowy </th>
      <td mat-cell *matCellDef="let offer"> {{offer.timeFrame}} </td>
    </ng-container>
    <ng-container matColumnDef="amountOfPlaces">
      <th mat-header-cell *matHeaderCellDef> Ilość miejsc </th>
      <td mat-cell *matCellDef="let offer"> {{offer.amountOfPlaces}} </td>
    </ng-container>
    <ng-container matColumnDef="state">
       <th mat-header-cell *matHeaderCellDef> Status </th>
       <td mat-cell *matCellDef="let offer" [ngStyle]="offer.state ? { color: 'green' } : { color: 'red' }" > {{(offer.state) ? 'Aktualna' : 'Nieaktualna'}} </td>
    </ng-container>
    <ng-container matColumnDef="moreDetails">
      <th mat-header-cell *matHeaderCellDef> Szczegóły </th>
      <td mat-cell *matCellDef="let offer">
          <button (click)="moreDetails(offer)" mat-raised-button color="primary">ZOBACZ</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="apply">
      <th *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let offer">
          <button *ngIf="offer.state" mat-raised-button color="accent" routerLink="jobOffer/{{offer.jobOfferId}}">APLIKUJ</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableHeaders"></tr>
    <tr mat-row *matRowDef="let row; columns: tableHeaders;"></tr>
  </table>