#logo
{
    margin: 2% 10% 2% 10%;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5);
}
.category-nav
{
    display: flex;
    flex-flow: row wrap;
}

.category-card
{
    margin: 2% 10% 2% 10%;
    min-width: 30%;
}

.category-card-image
{
    margin: 10% 20% 10% 40%;
    width:20%;
}

.category-card-content
{
    text-align: center;
}

.category-card-actions
{
    display: flex;
    justify-content: center;
}