h2
{
    text-align: center;
}

.form
{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
}

.mat-form-field, .mat-checkbox
{
    margin-left: 20%;
    margin-right: 20%;
    width:60%;
}

.mat-radio-group, #radio-group-label
{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    width:60%;
}

.mat-radio-button
{
    margin: 2px;
}

.mat-raised-button
{
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 5%;
}